{% extends 'frontend/base_dashboard.html.twig' %}


{% block body_main_dashboard %}
    <div class="row">
        <div class="col-md-12">
            {% include 'frontend/_modules/_breadcrumb.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="card">
                <div class="card-header p-0">
                    <img class="article-image img-fluid"
                         src="{{ asset('build/images/cover.jpg') }}">
                </div>
                <article class="card-body">
                    <h1 class="article-title">Persisting in Dark Times: Lessons From a War Crimes Researcher</h1>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-calendar"></i> 2017-12-25
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-eye"></i> {{ random(1000) }}
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-comment"></i> {{ random(1000) }}
                        </li>
                    </ul>
                    <div class="article-content">
                        <p>
                            I was not alive when my grandfather, a proud Minnesotan pilot of a B-17 bomber, returned
                            from Germany as a tired prisoner of war. But I am told that he wouldn’t eat potatoes. He
                            also refused to talk about his experiences in the Stalag Luft III camp and the crew members
                            he lost when the Germans shot down his plane as it passed over a small town in the
                            Netherlands. He died long before I had the courage or maturity to understand the complexity
                            of confinement or loss.
                        </p>
                        <p>
                            Growing up, I had the distinct impression that there were two types of people in the world:
                            the people who fought wars and the people who were protected by them. It took me many years
                            to understand that conflict touches an entire population of individuals — family back home,
                            journalists, human rights activists, prosecutors, researchers, archivists, historians, and
                            so many others. Wars take a toll not only on the soldiers who fight them, but also on the
                            people who work to make sense of them.
                        </p>
                        <p class="text-center">
                            <img class="img-fluid"
                                 src="{{ asset('build/images/love.jpg') }}">
                        </p>
                        <p>
                            I was not alive when my grandfather, a proud Minnesotan pilot of a B-17 bomber, returned
                            from Germany as a tired prisoner of war. But I am told that he wouldn’t eat potatoes. He
                            also refused to talk about his experiences in the Stalag Luft III camp and the crew members
                            he lost when the Germans shot down his plane as it passed over a small town in the
                            Netherlands. He died long before I had the courage or maturity to understand the complexity
                            of confinement or loss.
                        </p>
                        <p>
                            I was not alive when my grandfather, a proud Minnesotan pilot of a B-17 bomber, returned
                            from Germany as a tired prisoner of war. But I am told that he wouldn’t eat potatoes. He
                            also refused to talk about his experiences in the Stalag Luft III camp and the crew members
                            he lost when the Germans shot down his plane as it passed over a small town in the
                            Netherlands. He died long before I had the courage or maturity to understand the complexity
                            of confinement or loss.
                        </p>
                        <p>
                            I was not alive when my grandfather, a proud Minnesotan pilot of a B-17 bomber, returned
                            from Germany as a tired prisoner of war. But I am told that he wouldn’t eat potatoes. He
                            also refused to talk about his experiences in the Stalag Luft III camp and the crew members
                            he lost when the Germans shot down his plane as it passed over a small town in the
                            Netherlands. He died long before I had the courage or maturity to understand the complexity
                            of confinement or loss.
                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
{% endblock %}
