{% extends 'frontend/base_dashboard.html.twig' %}

{% block body_data_dashboard %}
    <div class="row">
        <div class="col-md-12 pl-4 mb-3">
            <a href="{{ path('frontend_category_index') }}"><h3 class="category-title">Apple</h3></a>
        </div>
    </div>
    <div class="row pl-2 pr-2">
        <div class="col-md-4 mb-3 pr-2 pl-2">
            {% include 'frontend/_modules/_product_item.html.twig' %}
        </div>
        <div class="col-md-4 mb-3 pr-2 pl-2">
            {% include 'frontend/_modules/_product_item.html.twig' %}
        </div>
        <div class="col-md-4 mb-3 pr-2 pl-2">
            {% include 'frontend/_modules/_product_item.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pl-4 mb-3">
            <a href="{{ path('frontend_category_index') }}"><h3 class="category-title">Accessories</h3>
            </a>
        </div>
    </div>
    <div class="row pl-2 pr-2">
        {% for i in 0..3 %}
            <div class="col-md-3 mb-3 pr-2 pl-2">
                {% include 'frontend/_modules/_product_item.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <div class="row pl-2 pr-2">
        {% for i in 0..3 %}
            <div class="col-md-3 mb-3 pr-2 pl-2">
                {% include 'frontend/_modules/_product_item.html.twig' %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12 pl-4 mb-3">
            <a href="{{ path('frontend_category_index') }}"><h3 class="category-title">Tutorial</h3>
            </a>
        </div>
    </div>
    <div class="row pl-2 pr-2">
        <div class="col-md-6 mb-3 pl-2 pr-2">
            {% include 'frontend/_modules/_product_item.html.twig' %}
        </div>
        <div class="col-md-6 mb-3 pl-2 pr-2">
            {% include 'frontend/_modules/_product_item.html.twig' %}
        </div>
    </div>
{% endblock %}
