{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block body %}
    <div id="globalContainer" class="jumbotron blog">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="entry-header">
                        <h1 class="entry-title">Blog</h1></header>
                </div>
            </div>
        </div>
    </div>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="card no-border">
                                <a href="https://cottect.com/blog/7-shopify-apps-that-will-help-you-sell-more-on-black-friday-cyber-monday/195.html">
                                    <img width="810" height="340"
                                         src="https://cottect.com/wp-content/uploads/2017/11/bfcm-apps-hero.jpg"
                                         class="ard-img-top wp-post-image" alt=""
                                         srcset="https://cottect.com/wp-content/uploads/2017/11/bfcm-apps-hero.jpg 810w, https://cottect.com/wp-content/uploads/2017/11/bfcm-apps-hero-300x126.jpg 300w, https://cottect.com/wp-content/uploads/2017/11/bfcm-apps-hero-768x322.jpg 768w"
                                         sizes="(max-width: 810px) 100vw, 810px"> </a>
                                <div class="card-body">
                                    <a href="#" class="card-link"></a>
                                    <a class="title-link"
                                       href="https://cottect.com/blog/7-shopify-apps-that-will-help-you-sell-more-on-black-friday-cyber-monday/195.html">
                                        <h4 class="card-title">7 Shopify Apps That Will Help You Sell More On Black
                                            Friday Cyber Monday</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card no-border">
                                <a href="https://cottect.com/blog/selling-on-marketplaces-with-shopify-how-to-choose-where-to-list-your-products/192.html">
                                    <img width="810" height="340"
                                         src="https://cottect.com/wp-content/uploads/2017/11/marketplaces_hero_bd4de3bc-fcf9-4087-a4f8-bd2a91076bdb.jpg"
                                         class="ard-img-top wp-post-image" alt=""
                                         srcset="https://cottect.com/wp-content/uploads/2017/11/marketplaces_hero_bd4de3bc-fcf9-4087-a4f8-bd2a91076bdb.jpg 810w, https://cottect.com/wp-content/uploads/2017/11/marketplaces_hero_bd4de3bc-fcf9-4087-a4f8-bd2a91076bdb-300x126.jpg 300w, https://cottect.com/wp-content/uploads/2017/11/marketplaces_hero_bd4de3bc-fcf9-4087-a4f8-bd2a91076bdb-768x322.jpg 768w"
                                         sizes="(max-width: 810px) 100vw, 810px"> </a>
                                <div class="card-body">
                                    <a href="#" class="card-link"></a>
                                    <a class="title-link"
                                       href="https://cottect.com/blog/selling-on-marketplaces-with-shopify-how-to-choose-where-to-list-your-products/192.html">
                                        <h6 class="card-title">Selling on Marketplaces With Cottect: How to Choose Where
                                            to List Your Products</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="card no-border">
                                <a href="https://cottect.com/blog/introducing-live-view-watch-visitors-become-customers-with-real-time-reporting/189.html">
                                    <img width="1620" height="680"
                                         src="https://cottect.com/wp-content/uploads/2017/11/Live-view.jpg"
                                         class="ard-img-top wp-post-image" alt=""
                                         srcset="https://cottect.com/wp-content/uploads/2017/11/Live-view.jpg 1620w, https://cottect.com/wp-content/uploads/2017/11/Live-view-300x126.jpg 300w, https://cottect.com/wp-content/uploads/2017/11/Live-view-768x322.jpg 768w, https://cottect.com/wp-content/uploads/2017/11/Live-view-1024x430.jpg 1024w"
                                         sizes="(max-width: 1620px) 100vw, 1620px"> </a>
                                <div class="card-body">
                                    <a href="#" class="card-link"></a>
                                    <a class="title-link"
                                       href="https://cottect.com/blog/introducing-live-view-watch-visitors-become-customers-with-real-time-reporting/189.html">
                                        <h6 class="card-title">Introducing Live View: Watch Visitors Become Customers
                                            with Real-Time Reporting</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="card no-border">
                                <a href="https://cottect.com/blog/advent-calendars-turn-a-seasonal-tradition-into-a-hot-holiday-product/179.html">
                                    <img width="810" height="340"
                                         src="https://cottect.com/wp-content/uploads/2017/11/sequential_retargeting_hero.jpg"
                                         class="ard-img-top wp-post-image" alt=""
                                         srcset="https://cottect.com/wp-content/uploads/2017/11/sequential_retargeting_hero.jpg 810w, https://cottect.com/wp-content/uploads/2017/11/sequential_retargeting_hero-300x126.jpg 300w, https://cottect.com/wp-content/uploads/2017/11/sequential_retargeting_hero-768x322.jpg 768w"
                                         sizes="(max-width: 810px) 100vw, 810px"> </a>
                                <div class="card-body">
                                    <a href="#" class="card-link"></a>
                                    <a class="title-link"
                                       href="https://cottect.com/blog/advent-calendars-turn-a-seasonal-tradition-into-a-hot-holiday-product/179.html">
                                        <h6 class="card-title">Advent Calendars: Turn a Seasonal Tradition Into a Hot
                                            Holiday Product</h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
