$brand-primary:         #593196 !default;
$brand-success:         #0f9645 !default;
$brand-info:            #009CDC !default;
$brand-warning:         #EFA31D !default;
$brand-danger:          #FC3939 !default;
