<div class="card">
    <div class="card-body">
        <div class="article-no-image">
            <a href="{{ path('article_detail_index') }}">
                <h5 class="card-title">A Former Anonymous Hacker’s Search for...</h5>
            </a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-calendar"></i> 2017-12-25
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-comment"></i> 2 comments
                </li>
            </ul>
            <p class="card-text">After cooperating with the government...</p>
        </div>
        <hr>
        <div class="article-no-image">
            <a href="{{ path('article_detail_index') }}">
                <h5 class="card-title">A Former Anonymous Hacker’s Search for...</h5>
            </a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-calendar"></i> 2017-12-25
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-comment"></i> 2 comments
                </li>
            </ul>
            <p class="card-text">After cooperating with the government...</p>
        </div>
        <hr>
        <div class="article-no-image">
            <a href="{{ path('article_detail_index') }}">
                <h5 class="card-title">A Former Anonymous Hacker’s Search for...</h5>
            </a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-calendar"></i> 2017-12-25
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-comment"></i> 2 comments
                </li>
            </ul>
            <p class="card-text">After cooperating with the government...</p>
        </div>
        <hr>
        <div class="article-no-image">
            <a href="{{ path('article_detail_index') }}">
                <h5 class="card-title">A Former Anonymous Hacker’s Search for...</h5>
            </a>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-calendar"></i> 2017-12-25
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-comment"></i> 2 comments
                </li>
            </ul>
            <p class="card-text">After cooperating with the government...</p>
        </div>
    </div>
</div>
