<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb pt-1 pl-1 mb-2">
        <li class="breadcrumb-item "><a href="{{ path('frontend_page_index') }}">Bang Dinh Nhat</a></li>
        <li class="breadcrumb-item active" aria-current="page">Accessories</li>
    </ol>
</nav>
