<div class="chat-main rounded-top">
    <div class="col-md-12 chat-header bg-primary text-white rounded-top pl-2 pr-2 p-1">
        <div class="row">
            <div class="col-md-6 username">
                <i class="fa fa-circle text-success" aria-hidden="true"></i>
                <h6 class="m-0">Dinh Nhat Bang</h6>
            </div>
            <div class="col-md-6 options text-right">
                <a href="javascript:void(0);" class="add-file">
                    <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0);" class="video-call">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <i class="fa fa-circle text-success live-video mr-1" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0);" class="voice-call">
                    <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0);" class="settings-chat">
                    <i class="fa fa-cog mr-2" aria-hidden="true"></i>
                </a>
                <a href="javascript:void(0);" class="hide-chat-box">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="chat-content">
        <div class="col-md-12 chats border pb-2 pt-2">
            <ul class="p-0">
                <li class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1">
                    hi
                </li>
                <li class="p-1 rounded mb-1">
                    <div class="receive-msg">
                        <div class="avatar rounded">
                            <img src="https://cottect.com/wp-content/themes/cottect/assets/images/avatar.jpg">
                        </div>
                        <div class="receive-msg-desc  text-center mt-1 ml-1 pl-2 pr-2">
                            <p class="pl-2 pr-2 p-1 rounded">hello</p>
                        </div>
                    </div>
                </li>
                <li class="pl-2 pr-2 p-1 bg-primary rounded text-white text-center send-msg mb-1">
                    how are you ???
                </li>
                <li class="p-1 rounded mb-1">
                    <div class="receive-msg">
                        <div class="receive-msg-img rounded-circle">
                            <div class="avatar rounded">
                                <img src="https://cottect.com/wp-content/themes/cottect/assets/images/avatar.jpg">
                            </div>
                        </div>
                        <div class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2">
                            <p class="mb-0 mt-1 p-1 pl-2 pr-2 rounded-top rounded-right">I'm fine !!!</p>
                            <p class="mb-0 mt-1 p-1 pl-2 pr-2 rounded-bottom rounded-right">Where are you ?</p>
                        </div>
                    </div>
                </li>
                <li class="pl-2 pr-2 p-1 bg-primary text-white text-center send-msg mb-1 rounded-top rounded-left">
                    at california
                </li>
                <li class="pl-2 pr-2 p-1 bg-primary text-white text-center send-msg mb-1 rounded-bottom rounded-left">
                    and where are you ?
                </li>
                <li class="p-1 rounded  mb-1">
                    <div class="receive-msg">
                        <div class="avatar rounded">
                            <img src="https://cottect.com/wp-content/themes/cottect/assets/images/avatar.jpg">
                        </div>
                        <div class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2">
                            <p class="pl-2 pr-2 p-1 rounded">now i'm at new york city</p>
                        </div>
                    </div>
                </li>
                <li class="pl-2 pr-2 p-1 bg-primary rounded text-white text-center send-msg mb-1">
                    Ok
                </li>
            </ul>
        </div>
        <div class="col-md-12 message-box border pl-2 pr-2 border-top-0">
            <input type="text" class="pt-2 pb-2 pl-0 pr-0 w-100" placeholder="Type a message..."/>
            <div class="tools">
                <i class="fa fa-picture-o" aria-hidden="true"></i>
                <i class="fa fa-bell" aria-hidden="true"></i>
                <i class="fa fa-meh-o" aria-hidden="true"></i>
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <i class="fa fa-gamepad" aria-hidden="true"></i>
                <i class="fa fa-camera" aria-hidden="true"></i>
                <i class="fa fa-folder" aria-hidden="true"></i>
                <i class="fa fa-thumbs-o-up m-0" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
