<div class="row">
    <div class="col-md-12">
        <div class="group-cover cover">
            <div class="cover-img">
                <img src="https://cottect.com/wp-content/themes/cottect/assets/images/cover.jpg">
            </div>
            <button type="button" class="btn-upload-cover btn" data-toggle="modal"
                    data-target="#exampleModal">
                Update cover photo
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mb-3 mt-0">
        <div class="d-flex p-2 below-header-nav">
            <ul class="nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('frontend_page_index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('frontend_category_index') }}">Apple</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('frontend_category_index') }}">Accessories</a>
                </li>
            </ul>
        </div>
    </div>
</div>
