<footer id="dashboardFooter" class="container-fluid pl-0">
    <div class="row ml-0">
        <div class="col-md-12">
            <ul class="list-inline">
                <li class="list-inline-item active"><a href="#">English (UK)</a></li>
                <li class="list-inline-item"><a href="#">Tiếng Việt</a></li>
            </ul>
            <hr>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="/blog">Blog</a></li>
                <li class="list-inline-item"><a href="/developers">Developers</a></li>
                <li class="list-inline-item"><a href="/about">About</a></li>
                <li class="list-inline-item"><a href="/cookies">Cookies</a></li>
                <li class="list-inline-item"><a href="/privacy">Privacy</a></li>
                <li class="list-inline-item"><a href="/terms">Terms</a></li>
                <li class="list-inline-item"><a href="/help">Help</a></li>
            </ul>
            <p>Cottect © {{ "now"|date("Y") }}</p></div>
    </div>
</footer>
