<div class="card">
    <div class="card-body">
        <a href="{{ path('frontend_product_index') }}">
            <img src="https://cottect.com/wp-content/themes/cottect/assets/images/iphonex.jpg"
                 class="img-fluid mb-3">
            <h5 class="card-title">iPhone X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">$924.99</h6>
        <p class="card-text">Lorem ipsum dolor sit amet. Vel
            ut accusam. Et duo alii verterem principes, ei scripta eligendi appareat duo.
        </p>
    </div>
</div>
