<div class="card">
    <div class="card-body">
        <a href="{{ path('frontend_product_index') }}">
            <img src="https://cdn.shopify.com/s/files/1/1569/5485/products/brace_insta-2_1024x1024@2x.jpg?v=1477590183"
                 class="img-fluid mb-3">
            <h5 class="card-title">iPhone X</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">$924.99</h6>
        <p class="card-text">Lorem ipsum dolor sit amet. Vel
            ut accusam. Et duo alii verterem principes, ei scripta eligendi appareat duo.
        </p>
    </div>
</div>
