<div class="row">
    <div class="col-md-12 pl-4 mb-2">
        <h5 class="category-title">Customer Reviews</h5>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="rating-block">
                    <h5>Average user rating</h5>
                    <div class="rating-data">
                        <h2 class="bold padding-bottom-7">4.3
                            <small>/ 5</small>
                        </h2>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <h5>Rating breakdown</h5>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">5 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar " role="progressbar" aria-valuenow="5"
                                 aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">4 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="4"
                                 aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">1</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">3 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="3"
                                 aria-valuemin="0"
                                 aria-valuemax="5" style="width: 60%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">2 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="2"
                                 aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
                <div class="pull-left">
                    <div class="pull-left" style="width:35px; line-height:1;">
                        <div style="height:9px; margin:5px 0;">1 <span class="fa fa-star"></span></div>
                    </div>
                    <div class="pull-left" style="width:180px;">
                        <div class="progress" style="height:9px; margin:8px 0;">
                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="1"
                                 aria-valuemin="0"
                                 aria-valuemax="5" style="width: 20%">
                                <span class="sr-only">80% Complete (danger)</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-left:10px;">0</div>
                </div>
            </div>
            <div class="col-sm-4">
                <button type="button" class="mt-5 btn btn-primary btn-block">Write a customer review</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr/>
                <div class="review-block">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="https://cdn.shopify.com/s/files/1/0207/0894/products/2x2-christmas-boy_medium.png?v=1412708538"
                                 class="img-rounded" width="100">
                            <div class="review-block-name pt-2 pb-1 font-weight-bold"><a href="#">Bang Dinh</a></div>
                            <div class="review-block-date">January 29, 2016</div>
                        </div>
                        <div class="col-sm-10 pl-0">
                            <div class="review-block-rate">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-block-title font-weight-bold">Did not work properly. No response from
                                company.
                            </div>
                            <div class="review-block-description">No, convenient,but clumsy to have dangling around?
                                Looks like u need to just cut it off?
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="https://cdn.shopify.com/s/files/1/0207/0894/products/2x2-christmas-boy_medium.png?v=1412708538"
                                 class="img-rounded" width="100">
                            <div class="review-block-name pt-2 pb-1 font-weight-bold"><a href="#">Bang Dinh</a></div>
                            <div class="review-block-date">January 29, 2016</div>
                        </div>
                        <div class="col-sm-10 pl-0">
                            <div class="review-block-rate">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-block-title font-weight-bold">Did not work properly. No response from
                                company.
                            </div>
                            <div class="review-block-description">No, convenient,but clumsy to have dangling around?
                                Looks like u need to just cut it off?
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="https://cdn.shopify.com/s/files/1/0207/0894/products/2x2-christmas-boy_medium.png?v=1412708538"
                                 class="img-rounded" width="100">
                            <div class="review-block-name pt-2 pb-1 font-weight-bold"><a href="#">Bang Dinh</a></div>
                            <div class="review-block-date">January 29, 2016</div>
                        </div>
                        <div class="col-sm-10 pl-0">
                            <div class="review-block-rate">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <div class="review-block-title font-weight-bold">Did not work properly. No response from
                                company.
                            </div>
                            <div class="review-block-description">No, convenient,but clumsy to have dangling around?
                                Looks like u need to just cut it off?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
