<div class="group-avatar">
    <img class="card-img-top"
         src="{{ asset('build/images/avatar.jpg') }}"
         alt="Card image cap">
    <button type="button" class="btn-upload-avatar btn btn-block" data-toggle="modal"
            data-target="#exampleModal">
        Update profile picture
    </button>
</div>
<div class="card-body">
    <h4 class="card-title">Bang Dinh Nhat</h4>
    <p class="card-text">Backend Developer</p>
</div>
<ul class="list-group list-group-flush ">
    <li class="list-group-item"><i class="fa fa-map-marker" aria-hidden="true"></i> 72 Le Thanh Ton,
        Ben Nghe ward,
        District 1, Ho Chi Minh City, Vietnam
    </li>
    <li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> +84 090 680 7975</li>
</ul>
<div class="card-body text-center">
    <a href="#" class="btn btn-primary mr-1 mb-2"><i class="fa fa-rss" aria-hidden="true"></i>
        Follow</a>
    <a href="#" class="btn btn-primary ml-1 mb-2"><i class="fa fa-user-plus" aria-hidden="true"></i>
        Add Friend</a>
</div>
