<div class="card-header">
    Quote
</div>
<div class="card-body">
    <blockquote class="blockquote mb-0">
        <p>Design is not just what it looks like and feels like. Design is how it works.</p>
        <footer class="blockquote-footer">Steve Jobs</footer>
    </blockquote>
</div>
