<form id="form-search" class="form-inline">
    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">This page</div>
        </div>
        <input type="text" class="form-control" placeholder="Search"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-light" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</form>
