<button class="btn btn-link btn-item" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span class="badge badge-pill badge-danger">{{ random(100) }}</span>
</button>
<div id="cartDropdown" class="dropdown-menu dropdown-menu-right headDropdown" aria-labelledby="dropdownMenuButton">
    <div class="beeperNub"><i class="fa fa-caret-up" aria-hidden="true"></i></div>
    <div class="header"><h6>Cart</h6></div>
    <div class="list-group">
        <div class="row cart-detail p-2">
            <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                <img src="https://cdn.shopify.com/s/files/1/0207/0894/products/2x2-christmas-boy_medium.png?v=1412708538">
            </div>
            <div class="col-lg-8 col-sm-8 col-8 cart-detail-product pl-0">
                <p>Sony DSC-RX100M..</p>
                <span class="price text-info"> $250.22</span> <span class="count"> Quantity:01</span>
            </div>
        </div>
        <div class="row cart-detail p-2">
            <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                <img src="https://cdn.shopify.com/s/files/1/0207/0894/products/2x2-christmas-boy_medium.png?v=1412708538">
            </div>
            <div class="col-lg-8 col-sm-8 col-8 cart-detail-product pl-0">
                <p>Vivo DSC-RX100M..</p>
                <span class="price text-info"> $500.40</span> <span class="count"> Quantity:01</span>
            </div>
        </div>
        <div class="row cart-detail p-2">
            <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                <img src="https://cdn.shopify.com/s/files/1/0207/0894/products/2x2-christmas-boy_medium.png?v=1412708538">
            </div>
            <div class="col-lg-8 col-sm-8 col-8 cart-detail-product pl-0">
                <p>Lenovo DSC-RX100M..</p>
                <span class="price text-info"> $445.78</span> <span class="count"> Quantity:01</span>
            </div>
        </div>
    </div>
    <div class="footer text-center pt-2">
        <div class="col-lg-12 col-sm-12 col-12 text-center checkout">
            <button class="btn btn-primary btn-block">Checkout</button>
        </div>
    </div>
</div>
