{% extends 'frontend/base.html.twig' %}

{% block body_id 'dashboardBody' %}
{% block header %}
    {% include 'frontend/_modules/_header-dashboard.html.twig' %}
{% endblock %}

{% block body %}
    {% block main_dashboard_outer %}
        <div id="dashboard-main" class="container-fluid pl-0">
            {% block main_dashboard %}
                {% block before_body_dashboard %}
                {% endblock %}
                {% block body_nav_utils %}
                <div class="row m-0 p-0 bg-light nav-utils">
                    <div class="col-md-10 m-0 p-0">
                            {% include 'frontend/_modules/_sub_nav.html.twig' %}
                    </div>
                    <div class="col-md-2 m-0 p-0"></div>
                </div>
                {% endblock %}
                <div class="row mr-0 ml-0">
                    <div class="col-md-10 pr-0">
                        {% block body_dashboard_outer_row %}
                            <div class="row">
                                {% block body_dashboard %}
                                    <div class="col-md-3 mb-5 mt-3">
                                        <div class="card mb-3">
                                            {% include 'frontend/_modules/_profile.html.twig' %}
                                        </div>
                                        <div class="card">
                                            {% include 'frontend/_modules/_quote.html.twig' %}
                                        </div>
                                    </div>
                                    <div class="col-md-9 pl-0 mb-5 mt-3 main">
                                        {% block body_main_dashboard %}
                                            {% include 'frontend/_modules/_cover.html.twig' %}
                                            {% block body_data_dashboard %}
                                            {% endblock %}
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                    <div class="col-md-2">
                        {% include 'frontend/_modules/_chat.html.twig' %}
                        {% include 'frontend/_modules/_modal_images.html.twig' %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}
    {% include 'frontend/_modules/_footer-dashboard.html.twig' %}
{% endblock %}

{% block javascripts %}
    <!-- development version, includes helpful console warnings -->
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    <script src="{{ asset('build/js/chat-box.js') }}"></script>
    {% block javascripts_add %}
    {% endblock %}
{% endblock %}
